<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title >Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
    <header class="app-header">
        <div class="header-logo"><div class="logo-icon small">Y</div></div>
        <div class="header-avatar"></div>
    </header>

    <main class="login-wrapper">
        <div class="login-card">
            <div class="brand-logo">
                <div class="logo-circle"><span class="logo-text">Y</span></div>
            </div>

            <div id="verify-step">
                <h1 class="form-title">Подтверждение</h1>
                <p class="step-desc">Мы отправили код на почту: <strong th:text="${email}"></strong></p>

                <form hx-post="/verify"  
                    class="login-form" 
                    hx-swap="innerHTML">
                    <input type="hidden" name="email" id="email" th:value="${email}">                    
                    <div class="input-group">
                        <input type="text" name="code" id="code" placeholder="код из письма" required>
                    </div>
                    
                    <div class="actions">
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            const csrfHeaderMeta = document.querySelector('meta[name="_csrf_header"]');
            const csrfTokenMeta = document.querySelector('meta[name="_csrf"]');
            if (csrfHeaderMeta && csrfTokenMeta) {
                event.detail.headers[csrfHeaderMeta.content] = csrfTokenMeta.content;
            }
        });
        
        document.addEventListener('DOMContentLoaded', linkifyElements);
        document.body.addEventListener('htmx:load', linkifyElements);
    </script>
</body>
</html>