<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в Ysocial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>

<header class="app-header">
    <div class="header-logo"><div class="logo-icon small">Y</div></div>
    <div class="header-avatar"></div>
</header>

<main class="login-wrapper">
    <div class="login-card">

        <div class="brand-logo">
            <div class="logo-circle">
                <span class="logo-text">Y</span>
            </div>
        </div>
        <h1 class="form-title">Вход Ysocial</h1>
        <form th:action="@{/login}" method="POST" class="login-form">
            <div class="input-group">
                <label for="username" class="visually-hidden"></label>
                <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="имя пользователя"
                        required
                        autocomplete="username"
                        autocapitalize="off"
                        spellcheck="false">
            </div>

            <div class="input-group">
                <label for="password" class="visually-hidden"></label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="пароль"
                        required
                        autocomplete="current-password">
            </div>

            <div class="actions">
                <button type="submit" class="btn btn-primary">ВОЙТИ</button>
                <a th:href="@{/register}" class="btn btn-secondary">Регистрация</a>
            </div>
        </form>
        <div th:if="${param.banned}" id="banned-msg" class="error-msg">
            Ваш аккаунт заблокирован. Пожалуйста, свяжитесь с администратором.
        </div>
         <div th:if="${param.error}" id="error-msg" class="error-msg">
            Неверное имя пользователя или пароль. Пожалуйста, попробуйте снова.
         </div>
    </div>
</main>
</body>
</html>
