<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{html/layout :: head('Регистрация', true)}"></head>
<body>
    <header class="app-header">
        <div class="header-logo"><div class="logo-icon small">Y</div></div>
        <div class="header-avatar"></div>
    </header>

    <main class="login-wrapper">
        <div class="login-card">
            <div class="brand-logo">
                <div class="logo-circle"><span class="logo-text">Y</span></div>
            </div>

            <div id="register-step">
                <h1 class="form-title">Регистрация Ysocial</h1>

<!--                при стандартной отправке формы браузер перезагружает страничку, поэтому
                     используем hx-post чтобы наше кастомное исключение на бэке норм отработал-->
                <form hx-post="/register" class="login-form">
                    <div class="input-group">
                        <input type="email" name="email" id="email" placeholder="почта" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="username" id="username" placeholder="никнейм" required autocomplete="off">
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" id="password" placeholder="пароль" required>
                    </div>
                    <div class="input-group">
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="повтор пароля" required>
                    </div>

                    <div class="actions">
                        <button type="submit" class="btn btn-primary">Регистрация</button>

                        <a th:href="@{/login}" class="btn btn-secondary">У меня есть аккаунт</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:replace="~{html/layout :: htmx-scripts}"></th:block>
</body>
</html>